<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IOT-RSI</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
        <div class="row">
                <div class="col-sm">
                  <div class="card">
                    <div class="card-body">
                      <right> <h3><a href="{%url 'home' %}"><button class="btn btn-primary" style="height:40px;width:120px">Go Home</button></a></h3>  </right>
                    </div>
                  </div>
                </div>

        </div>


        <div class="row">
                <div class="col-sm">
                  <div class="card">
                    <div class="card-body">
                      <center><h1>Select Date to get Transportation Data</h1> </center>
                    </div>
                  </div>
                </div>

        </div>

    <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
              <div class="card">
                <div class="card-body">
                  <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary" style="height:40px;width:120px">Get Data</button>
                </form>
                </div>
              </div>
            </div>
            <div class="col-sm"></div>
          </div>
        
    <script>
        $(function() {
            $( ".datepicker" ).datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "2017:2050",
            // You can put more options here.
        
            });
        });
    </script>
            
</body>
</html>